body {
  margin: 0;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.container {
  background-color: rgba(54,54,54,0.7);
  padding-top: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}
.panel {
  width: 195px;
  height: 310px;
  text-align: center;
  background-color: rgba(48,132,205,0.7);
  padding: 5px;
  display: grid;
  justify-content: center;
}
.panel img {
  width: 190px;
  height: 250px;
  border: 2px solid #333;
}
.panel p {
  font-family: 'Muli', sans-serif;
  color: lavender;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  bottom: 10px;
}
.navbar {
  font-family: sans-serif;
  font-family: 'Muli', sans-serif;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
